<h1>order-table</h1>
{{errormsg}}

<hr/>
<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search">
</mat-form-field>
<br/>
<mat-table [dataSource]="orderList" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="OrderID" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> OrderID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrderID}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="UserID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UserID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.UserID}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="HotelID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> HotelID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.HotelID}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="mobileNo">
      <mat-header-cell *matHeaderCellDef> mobile No </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.DeliveryDetails.mobileNo }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="DeliveryDetails">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.DeliveryDetails.Address }} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Total_price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total_price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Total_price}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>>
        <mat-cell *matCellDef="let element"> {{element.Status}} </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="showDetails(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
  
  
