<div class="container">
    <h3 mat-dialog-title>Issue id: {{category.categoryId}}</h3>
  
    <form class="mat-dialog-content" [formGroup] = "userProfileForm" #formControl="ngForm" (ngSubmit) ="onSubmit()">
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Category Name" [(ngModel)]="category.categoryName" name="title" formControlName="categoryName" >
         
        </mat-form-field>
      </div>
  
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="Category Image URl" [(ngModel)]="category.categoryImgUrl" name="state" maxlength="10" formControlName="categoryUrl" >
          
          <!--<mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>-->
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
      <button type="submit" [disabled]="!formControl.valid" >Update</button>
    </div>
    
  
      <!--<div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>-->
    </form>
  </div>