.example-container {
    width: 100%;
    height: 1000px;
    background-color:gray;
  }

  .mat-form-field-empty.mat-form-field-label {
    color: RED;
}

.mat-form-field-underline {
  background-color:red;
}