<div class="container">
    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
      category Id: {{data.category.categoryId}}
      <p></p>
      Category Name: {{data.category.categoryName}}
      <p></p>
      category URL: {{data.category.categoryImgUrl}}
      <p></p>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </div>
