<app-header></app-header>
<div class="container">
    <h3 mat-dialog-title>Sub Category id: {{subCategory.SubCategoryId}}</h3>
  
    <form class="mat-dialog-content" [formGroup] = "editSubcategoryProfileForm" #formControl="ngForm" (ngSubmit) ="onSubmit()">
  
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="SubCategory Name" [(ngModel)]="subCategory.SubCategoryName" name="title" formControlName="SubCategoryName" >
        </mat-form-field>
        <span *ngIf="!editSubcategoryProfileForm.get('SubCategoryName').valid" class="help-block">
          Please enter a valid Sub Category Name
        </span>
      </div>
      <div class="form">
        <mat-form-field color="accent" class="full-width">
            <mat-select placeholder="Category" formControlName="CategoryName" >
                <mat-option>--</mat-option>
                <mat-option *ngFor="let category of categoryService.categoryList" [value]="category.CategoryName">
                    {{category.CategoryName}}
                  </mat-option>
              </mat-select>
         
        </mat-form-field>
        <span *ngIf="!editSubcategoryProfileForm.get('CategoryName').valid" class="help-block">
          Please enter a valid Category Name
        </span>
      </div>
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="SubCategory Price" [(ngModel)]="subCategory.SubCategoryPrice" name="title" formControlName="SubCategoryPrice" >
         
        </mat-form-field>
        <span *ngIf="!editSubcategoryProfileForm.get('SubCategoryPrice').valid" class="help-block">
          Please enter a valid SubCategory Price
        </span>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="SubCategory URL" [(ngModel)]="subCategory.SubCategoryUrl" name="title" formControlName="SubCategoryUrl" >
         
        </mat-form-field>
        <span *ngIf="!editSubcategoryProfileForm.get('SubCategoryUrl').valid" class="help-block">
          Please enter a valid SubCategory URL
        </span>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="SubCategory Decription" [(ngModel)]="subCategory.SubCategoryDesc" name="title" formControlName="SubCategoryDesc" >
         
        </mat-form-field>
        <span *ngIf="!editSubcategoryProfileForm.get('SubCategoryDesc').valid" class="help-block">
          Please enter a valid SubCategory Decription
        </span>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Location Id" [(ngModel)]="subCategory.LocationId" name="title" formControlName="LocationId" >
         
        </mat-form-field>
      </div>
     <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="SubCategory Tax rate" [(ngModel)]="subCategory.SubCategoryTax" name="title" formControlName="subCategoryTax" >
         
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="SubCategory Unit" [(ngModel)]="subCategory.Unit" name="title" formControlName="subCategoryUnit" >
         
        </mat-form-field>
      </div>
      <div class="form">
        <mat-select placeholder="Select New Status" [(value)]="subCategory.itemState">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of itemStateData" [value]="item">
            {{item}}
            </mat-option>
        </mat-select>
      </div>
      <div mat-dialog-actions>
      <button type="submit" mat-button color="accent" [disabled]="!formControl.valid" >Update</button>
    </div>
    
  
      <!--<div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>-->
    </form>
  </div>
